//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$font-family-sans-serif: "dana" !default;
$font-family-monospace: "dana" !default;

$primary: #7367f0 !default;
$secondary: rgba(115,103,240,.7) !default;
